.container-full{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
.container-login{
    width:35%;
    margin-top: -15%;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.error {
  font-size: 0.9em;
  color: red;
}