<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administrador</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/stylesAdmin.css"> <!-- â† CREA ESTE CSS -->
</head>
<body>
    <header>
    <%- include('navbar') %>
  </header>
    <h1>Hola grupo</h1>
    
    <footer>
        <!--Importamos el footer que tenemos creado-->
        <div id="footer-container"></div><!-- where footer will appear -->
        <script>
            fetch('/footer.html')
            .then(response => response.text()) //load footer.html content
            .then(html => {
            document.getElementById('footer-container').innerHTML = html; //insert into this div
            });
        </script>
    </footer>
</body>