<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container my-5 shadow-lg p-4 rounded-5 bg-white" style="max-width: 500px;">
    <h1 class="text-center mb-4">Log In</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico" required
                   value="<%= email || '' %>">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <% if(error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
</div>
</body>
</html>
