<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- mobile friendly -->
    <title>navbar</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/css/accesibilidad.css">
</head>

<body>
  <div id="contenido-web">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a href="/inicio" class="navbar-brand">
          <img src="/media/logoWhite.png" alt="Logo de la empresa" height="60">
        </a>
        
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#nav" 
          aria-controls="nav" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">            
          <ul class="navbar-nav mx-auto gap-3">
            <li class="nav-item"><a class="nav-link" href="/inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/vehiculos">Vehiculos Disponibles</a></li>
            <li class="nav-item"><a class="nav-link" href="/vehiculos/reservas">Reservas</a></li>
            <li class="nav-item"><a class="nav-link" href="/perfil">Perfil</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalAccesibilidad">Accesibilidad</a>
            </li>
            
            <!--Con esto conseguimos que la opción de panel de admin solo esta activo si el rol es admin-->
            <% if (usuario.rol === "admin") { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Panel Admin
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/gestionVehiculos">Gestión de Vehículos</a></li>
                  <li><a class="dropdown-item" href="/gestionConcesionarios">Gestión de Concesionarios</a></li>
                  <li><a class="dropdown-item" href="/gestionUsuarios">Gestión de Usuarios</a></li>
                  <li><a class="dropdown-item" href="/estadisticas">Estadísticas</a></li>
                </ul>
              </li>
            <% } %>

          </ul>
          <!--botton fuera del ul para logout-->
          <div class="d-flex">
              <a href="/logout" class="btn btn-primary">Cerrar Sesión</a>
          </div>
        </div>  
      </div>
    </nav>
  </div>

  <!-- Modal de Accesibilidad -->
  <div class="modal fade" id="modalAccesibilidad" tabindex="-1" aria-labelledby="modalAccesibilidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-header">
          <h4 class="modal-title fw-bold" id="modalAccesibilidadLabel">Accesibilidad</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <!-- Tamaño de Fuente -->
          <div class="mb-4">
            <h5 class="mb-2 fw-bold">Tamaño de fuente</h5>
            <div class="btn-group w-100" role="group" aria-label="Selector de tamaño">
              <button type="button" class="btn btn-outline-primary btn-font-size" data-value="peque" style="width: 33.3%;">Pequeño</button>
              <button type="button" class="btn btn-primary active btn-font-size" data-value="normal" style="width: 33.3%;">Normal</button>
              <button type="button" class="btn btn-outline-primary btn-font-size" data-value="grande" style="width: 33.3%;">Grande</button>
            </div>
          </div>

          <hr class="text-muted opacity-25">
          <!-- Contraste y Color -->
          <div class="mb-4">
            <h5 class="mb-2 fw-bold">Contraste y Color</h5>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary p-3 btn-theme" data-value="standard">Vista Estándar</button>
              <button type="button" class="btn btn-outline-primary p-3 btn-theme" data-value="high-contrast">Alto Contraste</button>
              <button type="button" class="btn btn-outline-primary p-3 btn-theme" data-value="colorblind">Adaptado Daltónicos</button>
            </div>
          </div>
        </div>

        <div class="modal-footer border-top-0">
          <div class="row w-100 m-0">
            <div class="col-4 ps-0">
              <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Cancelar</button>
            </div>
            <div class="col-8 pe-0">
              <button type="button" id="btn-save-accessibility" class="btn btn-primary w-100" data-bs-dismiss="modal">Guardar cambios</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Scripts de logica de modal de Accesibilidad -->
  <script>
    document.addEventListener('DOMContentLoaded', () => { //busca si ya tengo guardado en localstorage valores de accesibilidad
      // Variables por defecto
      let currentFontSize = localStorage.getItem('access_fontSize') || 'normal';
      let currentTheme = localStorage.getItem('access_theme') || 'standard';

      // Función para aplicar los cambios a la página y actualizar el Modal -> ESTO ES LO MAS IMPORTANTE
      function applySettings(fontSize, theme) {
        document.documentElement.setAttribute('data-font-size', fontSize);
        document.body.setAttribute('data-theme', theme);
        updateModalUI(fontSize, theme);
      }

      // Función para actualizar visualmente el Modal 
      function updateModalUI(fontSize, theme) {
        // ACTUALIZAR BOTONES DE TAMAÑO DE FUENTE
        document.querySelectorAll('.btn-font-size').forEach(btn => {//los pone a todos en estado inactivo con la class btn-font-size
          btn.classList.remove('btn-primary', 'active');
          btn.classList.add('btn-outline-secondary');

          if(btn.dataset.value === fontSize) { //pone el seleccionado a activo
            btn.classList.remove('btn-outline-secondary');
            btn.classList.add('btn-primary', 'active');
          }
        });

        // ACTUALIZAR BOTONES DE TEMA
        document.querySelectorAll('.btn-theme').forEach(btn => { //para los de la class btn-theme
          // Resetear los botones a estado "Inactivo" 
          btn.className = 'btn btn-outline-secondary d-flex justify-content-between align-items-center p-3 btn-theme';

          // Pintar de azul a el elegido
          if(btn.dataset.value === theme) {
              btn.classList.remove('btn-outline-secondary');
              btn.classList.add('btn-primary', 'active'); 
          }
        });
      }

      //carga inicial de la configuración guardada
      applySettings(currentFontSize, currentTheme);
      
      // Botones de Fuente
      document.querySelectorAll('.btn-font-size').forEach(btn => {
        btn.addEventListener('click', function() {
          currentFontSize = this.dataset.value;
          updateModalUI(currentFontSize, currentTheme);
        });
      });

      // Botones de Tema
      document.querySelectorAll('.btn-theme').forEach(btn => {
        btn.addEventListener('click', function() {
          currentTheme = this.dataset.value;
          updateModalUI(currentFontSize, currentTheme);
        });
      });

      // Botón Guardar Cambios
      document.getElementById('btn-save-accessibility').addEventListener('click', () => {
        // Guardar en LocalStorage
        localStorage.setItem('access_fontSize', currentFontSize);
        localStorage.setItem('access_theme', currentTheme);
        // Aplicar 
        applySettings(currentFontSize, currentTheme);
      });
    }
  );
</script>
<!-- Script para atajos -->
<script>
    document.addEventListener('keydown', function(event) {
      // alt presionado
      if (event.altKey) {
        //para que funcione con funcione con 'm' o 'M'
        const key = event.key.toLowerCase();
        switch (key) {
          case 'p':
              event.preventDefault();
              window.location.href = '/perfil'; 
              break;

          case 'v':
              event.preventDefault();
              window.location.href = '/vehiculos'; 
              break;
        }
      }
    });
</script>

</body>
</html>