footer {
    background-color: white;
    margin-top: 0; /*SIN MARGEN*/
    padding-top: 0; /*SIN PADDING*/
    padding-bottom: 20px; 
    border-top: none;
}
  
.container-footer {
    background-color: #ffffff;
    padding: 20px 0;
}
  
/* Responsivo para footer */
@media (max-width: 576px) {
    .container-footer .col-12.col-sm-4{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
}