footer {
    background-color: white;
    margin-top: 0 !important; /*SIN MARGEN*/
    padding-top: 0 !important; /*SIN PADDING*/
    padding-bottom: 20px; 
    border-top: none !important;
}
  
.container-footer {
    background-color: #ffffff;
    padding: 20px 0;
}
  
/* Responsivo para footer */
@media (max-width: 576px) {
    .container-footer .col-md-7 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}