.fotoPerfilAdmin {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    min-height: 100vh;
    padding: 2rem 1.5rem;
    border-right: 1px solid #dee2e6;
}

.menu-lateral {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.menu-lateral li {
    margin-bottom: 1.5rem;
}

.menu-lateral a {
    color: #495057;
    text-decoration: none;
    display: block;
    padding: 0.4rem 0;
    transition: all 0.2s;
}

.menu-lateral a:hover,
.menu-lateral a.active {
    color: #25282c;
    transform: translateX(5px);
}