body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.container-full {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    padding: 20px;
}

.container-register {
    width: 95%; 
    max-width: 3000px;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Asterisco rojo para todos los obligatorios*/
.form-label.required::after {
    content: " *";
    color: red;
}

/* Breakpoints de Bootstrap */
@media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
    .container-register {
        width: 90%;
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
    .container-register {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
    .container-register {
        width: 85%;
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
    .container-register {
        width: 80%;
    }
}